.container {
    background-color: #ffffff;
}

.node {
    stroke: #fff;
    stroke-width: 1.5px;
}
.map path{
    fill: #fff;
    stroke: #999;
}
.link {
    fill: #fff;
    stroke: #999;
    stroke-opacity: 1;
}

.label {
    font-size: 10px;
    fill: #fff;
}
.nodeCity:hover{
    cursor: pointer;
}
.axis line , .axis path{
    fill: none;
    stroke-width: 1px;
    stroke: #e7e7e7;
}
.scatterPlot .label{
    font-size: 15px;
    fill: rgba(0, 0, 0, 0.99);
}

.scatterPlot .bubble text {
    opacity: 0;
    pointer-events: none;
    font-size: 15px;
}

.scatterPlot .bubble:hover text {
    opacity: 1;
}